@import "tailwindcss";

@theme {
  --color-crema: #F9F8F5;
  --color-tierra: #9B7B52;
  --color-tierra-dark: #7A6040;
  --color-yerba: #111110;
  --color-yerba-dark: #000000;
  --color-marron: #111110;
  --color-terracota: #C4775A;
  --color-surface: #F0EFE9;
  --color-border: #E5E4DF;

  --font-display: var(--font-dm-serif);
  --font-sans: var(--font-dm-sans);
}

body {
  background-color: var(--color-crema);
  color: var(--color-marron);
  font-family: var(--font-dm-sans);
}
